.forecast-outer-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    position: relative;   
    margin: auto;
}

.forecast-daily{
    padding: 10px;
    margin: 10px;
    width: 120px;
    border-radius: 8px;
    border: 1px solid black;
    background: rgba(255,255,255,0.5)
}